<footer>
    <div class="footer-container">
      <div class="column">
        <div class="col-md-6">
            <p>Một sản phẩm của:</p>
            <ul>
              <li class="ft">Nguyễn Thanh Châu - Sinh viên khoá D19</li>
              <li class="ft">Address: &lt;blank&gt;</li>
              <li class="ft">Phone: +84976271656</li>
              <li class="ft">Email: terrorblade72@gmail.com</li>
            </ul>
          </div>
          <div class="col-md-6">
            <p>Follow me:</p>
              <a href="https://www.facebook.com/terrorblade72/" style="color: #cccccc;"><i class="fab fa-facebook fa-2x"></i></a>  
              <a href="#" style="color: #cccccc;"><i class="fab fa-twitter fa-2x"></i></a>  
              <a href="#" style="color: #cccccc;"><i class="fab fa-instagram fa-2x"></i></a>  
              <a href="#" style="color: #cccccc;"><i class="fab fa-youtube fa-2x"></i></a>  
          </div>
      </div>
    </div>
  </footer>